/*styles Routes common block*/
.commonBlock {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

/*styles for all pages*/
.commonContainer {
    border: 1px solid #757575;
    padding: 15px;
}

.title {
    display: flex;
    justify-content: flex-start;
    color: #757575;
    font-weight: 300;
}

.formBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error {
    margin-bottom: 30px;
}

.registrationError, .error {
    opacity: 0.8;
    color: red;
    padding: 5px;
    margin-bottom: 20px;
}

.formBlock button {
    margin-top: 20px;
    width: 150px;

}
