.registrationBlock {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 40px;
}

.formBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.error {
    margin-bottom: 30px;
}

.registrationError, .error {
    color: red;
    padding: 5px;
}

.formBlock button {
    margin-top: 20px;
    width: 100px;
}



