.settingsPackContainer {
    margin: 0;
    padding: 0;
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.setCheck {
    margin-left: 16px;
}

.rangeSlider {
    max-width: 500px;
    min-width: 300px;
    text-align: center;
}