.cardsContainer {
    display: flex;
    flex-direction: column;
}

.table {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    border-spacing: 0;
    border-collapse: collapse;
}
.table__cell {
    border: 2px solid;
    justify-content: center;
    padding: 10px;
    width: 17%;
}

.paginationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}