/* form starting stylings ------------------------------- */
.group {
    position: relative;
    margin-bottom: 25px;
}

.group input {
    background-color: #d0d0d0;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}

.group input:focus {
    outline: none;
}
/*Autofill background*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #d0d0d0 inset !important;
}

/* LABEL ======================================= */
.group label {
    color: #646464;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
.group input:focus ~ label, .group input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #3aa251;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #3aa251;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
.group input:focus ~ .bar:before, .group input:focus ~ .bar:after {
    width: 50%;
}


/*.barError:before, .barError:after {*/
/*    content: '';*/
/*    height: 2px;*/
/*    width: 0;*/
/*    bottom: 1px;*/
/*    position: absolute;*/
/*    background: #dd0d0d;*/
/*    transition: 0.2s ease all;*/
/*    -moz-transition: 0.2s ease all;*/
/*    -webkit-transition: 0.2s ease all;*/
/*}*/

/*.barError:before {*/
/*    left: 50%;*/
/*}*/

/*.barError:after {*/
/*    right: 50%;*/
/*}*/

/*!* active state *!*/
/*.group input:focus ~ .barError:before, .group input:focus ~ .barError:after {*/
/*    width: 50%;*/
/*}*/
/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
.group input:focus .highlight {
    -webkit-animation: inputHighlighter 0.5s ease;
    -moz-animation: inputHighlighter 0.5s ease;
    animation: inputHighlighter 0.5s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #3aa251;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #3aa251;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #3aa251;
    }
    to {
        width: 0;
        background: transparent;
    }
}