.table {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}

.tableContainer {
    width: 75%;
    border: 1px solid;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tableItem {
    width: 20%;
    min-height: 80px;
    border: 1px solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    overflow: hidden;
}

.sortButton {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.sortButtonActive {
    background-color: #3aa251;
    outline: none;
    margin: 2.5px;
}

.sortButtonInc {
    margin: 2.5px;
}

.sortButtonDec {
    margin: 2.5px;
}

.modal {
    margin: 0;
    background: darkgray;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}
